absl-py
attrs
cachetools
certifi
chardet
click
colorama
cycler
decorator
defusedxml
entrypoints
Flask
Flask-Cors
gast==0.4.0
geojson
google-auth
google-auth-oauthlib
google-pasta
grpcio==1.34.0
gunicorn
h5py==3.1.0
idna
importlib-metadata==3.10.0
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonify
jsonschema
Keras-Preprocessing
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy==1.19.3
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandas-datareader
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pywinpty==0.5.7
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
Send2Trash
six==1.15.0
sklearn
tensorboard
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wincertstore
wrapt
zipp
